<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/multimedia-launchdetector-v3/launchdetector.log</file>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- our loggers -->
    <logger name="MainClass$" level="INFO"/>
    <logger name="Healthcheck$" level="INFO"/>
    <logger name="ShutdownHandler" level="INFO"/>
    <logger name="actors.PlutoUpdaterActor" level="INFO"/>
    <logger name="PlutoNextGen" level="DEBUG"/>

    <!-- library loggers -->
    <logger name="akka.event.EventStream" level="INFO"/>
    <logger name="com.amazonaws.metrics.AwsSdkMetrics" level="INFO"/>
    <logger name="akka.io.TcpListener" level="INFO"/>
    <logger name="c.a.s.k.c.proxies.KinesisProxy" level="WARN"/>
    <logger name="c.a.s.k.leases.impl.LeaseCoordinator" level="INFO"/>
    <logger name="c.a.s.k.c.lib.worker.Worker" level="WARN"/>
    <logger name="c.a.s.k.leases.impl.LeaseCoordinator" level="INFO"/>
    <root level="WARN">
        <appender-ref ref="logfile"/>
    </root>
</configuration>
